---
all:
  children:
    clients:
      vars:
        #ansible_host: localhost 
        ansible_ssh_connection: ssh 
        ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
        #ansible_ssh_private_key_file: ~/.ssh/id_rsa 
        ansible_ssh_transfer_method: scp
      children:
        debian:
          hosts:
            client-1:
            client-2:
            client-3:
            client-4:
        ubuntu:
          #hosts:
          #  client-2:
        almalinux:
          #hosts:
          #  client-3:
        suse:
          #hosts:
          #  client-4:
