.devcontainer/ssh-keys/server/id_rsa
.devcontainer/ssh-keys/server/id_rsa.pub
.devcontainer/ssh-keys/server/known_hosts
.devcontainer/ssh-keys/clients/authorized_keys
ansible.cfg
inventory.yml
playbooks/*
