[defaults]
host_key_checking = False
log_path = ${HOME}/.ansible/log/ansible.log
retry_files_enabled = yes
retry_files_save_path = ${HOME}/.ansible/retry-files
force_handlers = true
inventory = ./inventory
roles_path = ./roles

[ssh_connection]
scp_if_ssh = True
